@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html, body {
    @apply bg-background text-primary font-sans transition-colors duration-500 dark:bg-[#0a0a0a] dark:text-[#f3f4f6];
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
  }

  ::selection {
    @apply bg-accent text-white;
  }
}

/* Structural Background Grid Pattern */
.bg-grid-pattern {
  background-size: 100px 100px;
  background-image:
    linear-gradient(to right, rgba(17, 17, 17, 0.03) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(17, 17, 17, 0.03) 1px, transparent 1px);
}

.dark .bg-grid-pattern {
  background-image:
    linear-gradient(to right, rgba(255, 255, 255, 0.03) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(255, 255, 255, 0.03) 1px, transparent 1px);
}

.clip-text-mask {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
